{% extends 'base.html' %}
<!-- extending base html -->
{%load static%}
<!-- static file loaded -->
{%block main_content %}
<!-- main contents starts here -->
<style>
    .extra-input {
        border: 2px solid #ff5600 !important;
        height: 70px;
    }
    
    .btn {
        border-radius: 0px !important;
    }
    
    .hero__btn {
        padding-top: 50px;
    }
    
    .flaticon-tools-and-utensils-1:hover {
        color: tomato !important;
    }
    
    .district_name {
        font-weight: bold;
    }
    
    .district_name:hover {
        color: tomato !important;
    }
</style>
<main>

    <div class="slider-area ">
        <div class="slider-active">

            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="hero__caption">
                                <span data-animation="fadeInLeft" data-delay=".2s">Discover Your Teste</span>
                                <h1 class="col-9" data-animation="fadeInLeft" data-delay=".4s">We belive good food offer great smile</h1>
                                <p class="col-9" data-animation="fadeInLeft" data-delay=".6s">Would you like thousands of new customers to taste your amazing food? So would we! <br> It's simple: we list your menu online, help you process orders, pick them up, and deliver them to hungry pandas - in a heartbeat!</p>

                                <form class="hero__btn col-10" method="POST">
                                    {%csrf_token%}
                                    <div class="input-group mb-2">
                                        <input type="text" name="search" class="form-control extra-input" placeholder="Search...">
                                        <div class="input-group-prepent">
                                            <button class="btn btn-outline-danger shadow-none">
                                                <i class="fa fa-search"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="about-low-area section-padding30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">

                        <div class="section-tittle mb-35">
                            <span>Want To be partner</span>
                            <h2>Do you want to enlist your resturant with us?</h2>
                        </div>
                        <p>No worries just get it <a href="{%url 'resturant_registration'%}" class="btn btn-danger shadow-none border-btn" style="margin-left: 25px">Enter</a></p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                            <div class="single-caption mb-20">
                                <div class="caption-icon">
                                    <span class="flaticon-restaurant"></span>
                                </div>
                                <div class="caption">
                                    <p>Have best sheff for cooking?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                            <div class="single-caption mb-20">
                                <div class="caption-icon">
                                    <span class="flaticon-tools-and-utensils-1"></span>
                                </div>
                                <div class="caption">
                                    <p>Have delicious food to eat?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                            <div class="single-caption mb-20">
                                <div class="caption-icon">
                                    <span class="flaticon-hat"></span>
                                </div>
                                <div class="caption">
                                    <p>Have a brand on you own?</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-10">
                            <div class="single-caption mb-20">
                                <div class="caption-icon">
                                    <span class="flaticon-restaurant"></span>
                                </div>
                                <div class="caption">
                                    <p>Want to provide good quality?.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">

                    <div class="about-img ">
                        <img src="{%static 'front/'%}img/gallery/about.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>


    <section class="gallery-area fix ">

        <div class="gallery-top section-bg pt-90 pb-40" data-background="{%static 'front/'%}img/gallery/section_bg01.png">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="cl-xl-7 col-lg-8 col-md-10">

                        <div class="section-tittle text-center mb-70">
                            <span>Our Offerd Menu</span>
                            <h2>Some Trendy And Popular Courses Offerd</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="properties__button">

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Special</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false"> Lunch</a>
                                <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false"> Brakefirst </a>
                                <a class="nav-item nav-link" id="nav-dinner-tab" data-toggle="tab" href="#nav-dinner" role="tab" aria-controls="nav-dinner" aria-selected="false"> Dinner </a>
                            </div>
                        </nav>

                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid p-0">

            <div class="tab-content" id="nav-tabContent">

                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery1.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery2.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="row no-gutters">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery3.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery4.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery2.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery1.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="row no-gutters">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery3.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery4.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery1.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery2.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="row no-gutters">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery3.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery4.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="nav-dinner" role="tabpanel" aria-labelledby="nav-dinner">
                    <div class="row no-gutters">
                        <div class="col-lg-5 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery3.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="gallery-box">
                                <div class="single-gallery">
                                    <div class="gallery-img big-img" style="background-image: url(static/front/img/gallery/gallery4.png);"></div>
                                    <div class="g-caption">
                                        <span>$25</span>
                                        <h4>Delicious Food</h4>
                                        <p>Ut enim ad minim veniam quis nostr.</p>
                                        <a href="#" class="btn order-btn">Order Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="row no-gutters">
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery1.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-6">
                                    <div class="gallery-box">
                                        <div class="single-gallery">
                                            <div class="gallery-img smoll-img" style="background-image: url(static/front/img/gallery/gallery2.png);"></div>
                                            <div class="g-caption">
                                                <span>$25</span>
                                                <h4>Delicious Food</h4>
                                                <p>Ut enim ad minim veniam quis nostr.</p>
                                                <a href="#" class="btn order-btn">Order Now</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>

    <div class="our-services section-padding30">
        <div class="container">
            <div class="row">
                <div class="cl-xl-7 col-lg-8 col-md-10">

                    <div class="section-tittle text-left">
                        <span>Cities</span>
                        <h2>Find us in this cities and many more</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {%for i in place%}
                <a href="{%url 'resturant_list' slug=i.district_name%}">
                    <div class=" col-lg-3 col-md-4 col-sm-6">
                        <div class="single-services text-center mb-30">
                            <div class="services-ion">
                                <span class="flaticon-tools-and-utensils-1"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="{%url 'resturant_list' slug=i.district_name%}"><span class="district_name">{{i.district_name}}</span></a></h5>
                            </div>
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div>

    <div class="about-area2 section-padding30">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-12">

                    <div class="about-img ">
                        <img src="{%static 'front/'%}img/gallery/about2.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                    <div class="about-caption mb-50">

                        <div class="section-tittle mb-35">
                            <span>About Our Restaurant</span>
                            <h2>We Provide Good Food For Your Family!</h2>
                        </div>
                        <p class="pera-top">Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud exer</p>
                        <p class="mb-65 pera-bottom">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected our, or randomised words which don't look even slightly believab If you are going to use a passage.
                        </p>
                        <a href="about.html" class="border-btn">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="about-area3 pt-180 pb-170 section-bg" data-background="{%static 'front/'%}img/gallery/section_bg03.png">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-xl-6 col-lg-6 col-md-9 col-sm-11">

                    <div class="section-tittle section-tittle2 mb-40">
                        <span>About Our Restaurant</span>
                        <h2>We Provide Good Food For Your Family!</h2>
                        <p>Ut enim acgsd minim veniam, quxcis nostrud exercitation ullamco laboris nisi ufsit aliquip ex ea commodo consequat is aute irure m, quis nostrud exer.</p>
                    </div>

                    <form action="#" class="search-box">
                        <div class="input-form">
                            <input type="text" placeholder="Your Email">
                        </div>
                        <div class="search-form">
                            <button>Subscribe</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</main>
<!-- main contents ends here -->
{%endblock main_content%}
<!-- we will add our custom scripts here -->
{%block main_scripts%}
<!-- main scripts started -->
<!-- main scripts ended -->
{%endblock main_scripts%}